
body {
    font-family: 'Roboto', regular;
    color:#efefef;
    text-align: center;
    background-color:#100f0f;

}
container {
 
    text-align: center;
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    background-color:#100f0f;
    /*color:#efefef;*/
  
}
/* pour menu*/
.img-fluid {
    width: 100%;
    height: 50%;
}
.contenant {
    position: relative;
    text-align: center;
    color:#efefef;
  }
  
  .texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/*fin cssmenu*/



/* add.htlm*/
.list-group-item {
    background-color:#100f0f;
    color: #efefef;

}
a{
    color: #efefef;
    text-decoration:none;
}
.form-control {
    background-color:#100f0f;
    color: #efefef;
}
select{
    background-color:#100f0f;
    color: #efefef;
}
option {
    background-color: #100f0f;
    color: #efefef;
}


/*fin add.html*/